body {
    margin: 0;
    padding: 0;
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    background-color: #ffffff; /* Optional: adds a clean background color */
}
.agbalumo-regular {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}