body{
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/agrosnap%20logo.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}



.header{
    background-color:Transparent;
    width: 100%;    
    text-align: center;        /* Spans the entire width of the screen */   /* Gives the text some breathing room inside the bar */
    font-size: 24px;
    color:#389100;
    font-family: 'Agbalumo', system-ui;
    font-weight: bold;
    margin-bottom: 30px; /* Adds some space below the header */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: adds a subtle shadow for better readability */
}

.login-container {
display: flex;
flex-direction: column;
max-width: 400px;
width:60vw;
min-width: 200px;
padding: 30px;
height: fit-content;
background-color: white;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
border-radius: 5px;

}

.items{
    width: 100%;
    height: 30px;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensures padding doesn't affect total width */
}

.fields{
    background-color: transparent;
    border:none;
    border-bottom: 3px solid #389100;
    font-weight: bold;
    margin-bottom: 30px;
    outline: none;
    
}

.btns{
    border: none;
    height: 60px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
       
}

.btns:hover{
    background-image: linear-gradient(rgba(25, 25, 25, 0.3)); 
}


#submit{
    background-color: #389100;
    color: white;
    
}

#back{

}

