<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/agrosnap%20logo.PNG">
    <link rel="stylesheet" href="../static/css/general_style.css">
    <link rel="stylesheet" href="../static/css/about.css">

</head>
<body>
    <div class="about-container">
        <div class="agro-image">
            <img src="/static/images/agronsnap_for_index.png"/>
        </div>
        <div class="about-content">
            <h1 id="intro" class="about-titles">Introduction</h1>
            <p class="paraghrah">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, dolor amet aliquam quod a corrupti incidunt doloribus natus placeat possimus et fuga repellendus officiis repellat labore sequi recusandae aspernatur qui! Quibusdam doloremque nemo impedit accusantium dolore ab voluptates consequatur perspiciatis, sed harum in rerum omnis ut doloribus animi reprehenderit quas labore eveniet rem ipsum? Autem totam molestiae ipsum impedit ducimus at perferendis explicabo quisquam, iusto qui natus officiis mollitia sed, tenetur perspiciatis voluptate voluptatum facere! Ratione harum cupiditate, minus eum et vitae ullam id cum blanditiis amet laborum rerum ex odit deserunt quam corrupti eveniet sunt vel alias. Exercitationem, provident unde. Eveniet magnam, maxime, soluta deserunt provident explicabo qui eum incidunt tempora accusantium ipsam ullam illo consequuntur cumque nam officia?
            </p>
            <h1 class="about-titles" id="goals"> Our goals </h1>
            <p class="paragrah">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, dolor amet aliquam quod a corrupti incidunt doloribus natus placeat possimus et fuga repellendus officiis repellat labore sequi recusandae aspernatur qui! Quibusdam doloremque nemo impedit accusantium dolore ab voluptates consequatur perspiciatis, sed harum in rerum omnis ut doloribus animi reprehenderit quas labore eveniet rem ipsum? Autem totam molestiae ipsum impedit ducimus at perferendis explicabo quisquam, iusto qui natus officiis mollitia sed, tenetur perspiciatis voluptate voluptatum facere! Ratione harum cupiditate, minus eum et vitae ullam id cum blanditiis amet laborum rerum ex odit deserunt quam corrupti eveniet sunt vel alias. Exercitationem, provident unde. Eveniet magnam, maxime, soluta deserunt provident explicabo qui eum incidunt tempora accusantium ipsam ullam illo consequuntur cumque nam officia?                
            </p>
        </div>
    </div>
</body>
</html>