<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/agrosnap%20logo.PNG">
    <link rel="stylesheet" href="../static/css/general_style.css">
    <link rel="stylesheet" href="../static/css/help.css">
    <script src="../static/js/help.js" defer></script>

</head>
<body>

    <div class="hints-container">
        <div class="qa-container">
            <div class="question-container">
                <div class="question">How can I contact with you ?</div>
                <div class="down-icon">
                    <button class="down-btn"></button>
                </div>
            </div>
            <div class="answer-container">
                <br><br>
                <p class="answer-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, 
                    esse a. Explicabo, quidem optio! Ipsa sit quidem 
                    reprehenderit provident ex soluta! Nam atque molestiae minima nulla veritatis cum natus nobis?
                </p>
            </div>
        </div>

                <div class="qa-container">
            <div class="question-container">
                <div class="question">How can I contact with you ?</div>
                <div class="down-icon">
                    <button class="down-btn"></button>
                </div>
            </div>
            <div class="answer-container">
                <br><br>
                <p class="answer-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, esse a. Explicabo, quidem optio! Ipsa sit quidem reprehenderit provident ex soluta! Nam atque molestiae minima nulla veritatis cum natus nobis?</p>
            </div>
        </div>

                <div class="qa-container">
            <div class="question-container">
                <div class="question">How can I contact with you ?</div>
                <div class="down-icon">
                    <button class="down-btn"></button>
                </div>
            </div>
            <div class="answer-container">
                <br>
                <h3 class="title-of-answer"> &nbsp; &nbsp; The sources</h3>
                <p class="answer-content">www.plant.com</p>
                <hr>
                <p class="answer-content">www.plant.com</p>
                <hr>
                <p class="answer-content">www.plant.com</p>
            </div>
        </div>
        
    </div>

</body>
</html>