<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrosnap - Plant disease detection</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/agrosnap%20logo.PNG">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/general_style.css">
    <script src="../static/js/index.js" defer></script>
</head>
<body id="body" onload="display_Agrosnap_logo()">

<div id="logo_container">
    <img id="image_agro" src="../static/images/agronsnap_for_index.png">
</div>

</body>
</html>