<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="../static/images/agrosnap%20logo.PNG">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/signStyle.css">
    <link rel="stylesheet" href="/static/css/general_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="manifest" href="/static/manifest.json">
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
    <script src="/static/js/back_to_sign.js" defer></script>
    <script type="module" src="/static/js/login.js"></script>


    <title>AgroSnap | Login</title>
</head>
<body>

    <div class="login-container">
            <header class="header">
        <h1>Login</h1>
    </header>
    <p id="msg"></p>
    


        <form>
            <input type="text"  class="fields items" id="username" name="username" placeholder="Username or Email"  autocomplete="username" required>

            <input type="password" class ="fields items" id="password" name="password" placeholder="Password" autocomplete="new-password" required >
            <button type="submit" class="items btns" id="submit">Login</button>
            <button type="button" class="items btns" id="back_button" onclick="back_to_sign()">Back</button>
        </form>

        <p>If you don't have an account please <a href="/signupForm">click here</a></p>

    </div>

</body>
</html>