<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="icon" href="/static/images/agrosnap%20logo.PNG">
   <link rel="stylesheet" href="/static/css/general_style.css">
   <link rel="stylesheet" href="/static/css/profile.css">
   <script src="/static/js/dynamic_pages.js" defer></script>
</head>
<body>

    <div class="fixed-popup">


        <div class="profile-container">
            <div class="profile-pic">
                <img  src="../static/images/profile-pic.webp">
            </div>
            <div id="user-fullname">
                <p id="user-first-name">John</p>
                <p id="user-last-name">peter</p>
            </div>
            <div id="username">@john09</div>
            <div id="user-email">johnn003@example.com</div>
            <div id="close-label">Close </div>
        </div>


    </div>

</body>
</html>