<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="icon" href="../static/images/agrosnap%20logo.PNG">
    <link rel="stylesheet" href="../static/css/general_style.css">
    <link rel="stylesheet" href="../static/css/scan.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
    <!-- <script src="../static/js/back_to_sign.js" defer></script> -->

    <title>AgroSnap | Scan</title>
</head>
<body id="scan_page_body">

    <div class="container">
    <h2 id="header">Upload your photo below</h2>

    <div class="upload-box items" id="uploadBox">
        <span id="boxText">Click here to upload a photo</span>
        <img id="previewImage" style="display: none;" alt="Preview" />
        <input type="file" id="fileInput" accept="image/*" capture="environment" hidden />
    </div>

    <div class="buttons-box items" id="btns-container">
        <button type="button" id="send" class="button-group">Send to AI</button>
        <button type="button" id="clear-btn" class="button-group">Remove the photo</button>
    </div>
</div>

</body>
</html>