<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrosnap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/agrosnap%20logo.PNG">
    <link rel="stylesheet" href="../static/css/general_style.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <script src="../static/js/user-account.js" defer></script>
</head>
<body>
    <div id="container">

        <aside id ="sidebar">
            <div id="user-profile">
                <div id="img">
                    <img id="profile-pic" src="../static/images/user (1).png" />
                </div>
                <div id="user-name">
                    John smith
                </div>
                
            </div>
            <ul id="pages">
                <li>
                    <a href="../templates/scan.html">Scan now</a>
                </li>
                <li>
                    <a href="../templates/all-saved-reports.html">My reports</a>
                </li>
                <li>
                    <a href="../templates/help-center.html">Help center</a>
                </li>
                <li>
                    <a href="../templates/about.html">About Agrosnap</a>
                </li>
            </ul>
            <div id="logout-container">
                <button id="logout-btn">Log out</button>
            </div>
        </aside>
        <div id="overlay"></div>

        <div id="main">

            <div id="header">
                <div id="menu">
                    <button id="menu-btn">  </button>
                </div>
                <div id="website-name">
                    <p>Agrosnap</p>

                </div>

            </div>

            <div id="content">
   
                
            </div>


        </div>


    </div>
    
</body>
</html>