<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/agrosnap%20logo.PNG">
    <link rel="stylesheet" href="../static/css/general_style.css">
    <link rel="stylesheet" href="../static/css/sign-choices.css">
</head>

<body>

<header class="header">
    <h1 >Agrosnap</h1>
</header>

    <div class="sign_choices">
        <a href="../templates/registration.html" class="sign_choice" id="signup_link">Sign up</a>
        <a href="../templates/login.html" class="sign_choice" id="login_link">Login</a>
        
    
    </div>


</body>
</html>