<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/agrosnap%20logo.PNG">
    <link rel="stylesheet" href="../static/css/general_style.css">
    <link rel="stylesheet" href="../static/css/report.css">
    <title>The report</title>
</head>
<body>
    <div class="signle-report-container">


        <div class="movement-btns prev-box">
            <button class="prev hide-btn move">  <  </button>
        </div>



        <!-- this is reports details area-->
        <div class="report-details">



            <!-- this is for percentage of confidence-->
            <div class="progresses-container active">

                <div class="prograssive-with-label">
                    <label class="disease-title"> disease name </label>
                    <div class="static-line">
                        <div class="dynamic-line"></div>
                    </div>
                    <label class="precentage">50%</label>
                </div>

            </div>
            <!-- this is for percentage of confidence-->

            

            <!-- ------------------------------------------------ -->

            <div class=" all-report hidden" id="first">
                <h1 class="the-header">Disease 1</h1>
                <h3>About disease and the symptoms</h3>
                <p class="about-disease">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat ea dolore ex alias, beatae cumque voluptas aspernatur tempore ipsa odit. Perferendis quisquam in ex laudantium molestias doloribus tenetur neque repudiandae.
                </p>
                <h3 class="treatment">Treatement</h3>
                <p class="about-treatment">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, accusamus cumque distinctio minus voluptate reiciendis doloremque tempora placeat ab blanditiis unde explicabo accusantium, laborum quam nobis ipsum est harum facilis pariatur! Officia delectus numquam vero tenetur, sed accusantium. Veritatis reiciendis quo velit molestiae dicta hic consequatur pariatur, error quibusdam aut.
                </p>

            </div>

            <!-- ------------------------------------------------ -->

            <div class=" all-report hidden" id="second">
                <h1 class="the-header">Disease 1</h1>
                <h3>About disease and the symptoms</h3>
                <p class="about-disease">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat ea dolore ex alias, beatae cumque voluptas aspernatur tempore ipsa odit. Perferendis quisquam in ex laudantium molestias doloribus tenetur neque repudiandae.
                </p>
                <h3 class="treatment">Treatement</h3>
                <p class="about-treatment">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, accusamus cumque distinctio minus voluptate reiciendis doloremque tempora placeat ab blanditiis unde explicabo accusantium, laborum quam nobis ipsum est harum facilis pariatur! Officia delectus numquam vero tenetur, sed accusantium. Veritatis reiciendis quo velit molestiae dicta hic consequatur pariatur, error quibusdam aut.
                </p>

            </div>

            <!-- ------------------------------------------------ -->

            <div class="hidden all-report" id="third">
                <h1 class="the-header">Disease 1</h1>
                <h3>About disease and the symptoms</h3>
                <p class="about-disease">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat ea dolore ex alias, beatae cumque voluptas aspernatur tempore ipsa odit. Perferendis quisquam in ex laudantium molestias doloribus tenetur neque repudiandae.
                </p>
                <h3 class="treatment">Treatement</h3>
                <p class="about-treatment">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, accusamus cumque distinctio minus voluptate reiciendis doloremque tempora placeat ab blanditiis unde explicabo accusantium, laborum quam nobis ipsum est harum facilis pariatur! Officia delectus numquam vero tenetur, sed accusantium. Veritatis reiciendis quo velit molestiae dicta hic consequatur pariatur, error quibusdam aut.
                </p>

            </div>

            <!-- ------------------------------------------------ -->
            

        </div>
        <!-- this is reports details area-->


        <div class="movement-btns next-box">
            <button class="next active-btn move"> > </button>

        </div>

        <!-- this is buttons group -->
        <div class="btns-group">
            <button class="single-btn" id="save-btn"> Save </button>
            <button class="single-btn" id="save-download-btn"> Save and download </button>
            <button class="single-btn" id="close-btn"> Close report </button>

        </div>
        <!-- this is buttons group -->
        
    </div>

</body>
</html>